/* BlockNet HUD touch — estilo pixel: D-pad claro esq + ações escuras dir */
#hud{position:fixed;inset:auto 0 0 0;z-index:40;display:flex;justify-content:space-between;align-items:flex-end;padding:8px 10px calc(74px + env(safe-area-inset-bottom));pointer-events:none}
#hud button{image-rendering:pixelated;touch-action:none;pointer-events:auto;cursor:pointer}
/* D-pad claro */
#hud .dpad{display:grid;grid-template-columns:56px 56px 56px;grid-template-rows:56px 56px 56px;gap:0;pointer-events:auto}
#hud .dpad button{background:#c6c6c6;border:3px solid #000;color:#222;font-size:18px;font-family:"MC",monospace;box-shadow:inset 2px 2px 0 #fff,inset -2px -2px 0 #555;min-width:56px;min-height:56px}
#hud .dpad button:active{background:#9a9a9a}
#hud .dpad .core{background:#8b8b8b;border:3px solid #000;box-shadow:inset 2px 2px 0 #555}
#hud .dpad .hole{background:transparent;border:none;box-shadow:none}
/* coluna de ações escura */
#hud .acts{display:flex;flex-direction:column;gap:8px;pointer-events:auto;align-items:center}
#hud .acts button{width:56px;height:56px;background:#2b2b2b;border:3px solid #000;box-shadow:inset 2px 2px 0 #5a5a5a,inset -2px -2px 0 #111;display:flex;align-items:center;justify-content:center}
#hud .acts button:active{background:#4a4a4a}
#hud .acts button svg{width:26px;height:26px;shape-rendering:crispEdges}
#hud .acts .minirow{display:flex;gap:8px}
#hud .acts .minirow button{width:56px;height:34px;font-size:10px;color:#fff;font-family:"MC",monospace}
@media (hover:hover) and (pointer:fine){#hud{display:none}}

@media (orientation:landscape){
  #hud{padding:6px 8px calc(66px + env(safe-area-inset-bottom))}
  #hud .dpad{grid-template-columns:44px 44px 44px;grid-template-rows:44px 44px 44px}
  #hud .dpad button{min-width:44px;min-height:44px;font-size:14px}
  #hud .acts button{width:48px;height:48px}
  #hud .acts button svg{width:22px;height:22px}
  #hud .acts .minirow button{width:48px;height:30px}
  #hotbar{bottom:auto;top:calc(8px + env(safe-area-inset-top));transform:translateX(-50%) scale(.85)}
  #set{top:auto;bottom:calc(120px + env(safe-area-inset-bottom));right:8px}
}
